.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size,0,0,0;
}
.add-option {
    display: flex;
    padding: $m-size;
    flex-direction: column;
}
.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    color: $off-white;
    padding: $m-size;
    border: none;
    border-bottom: .3em solid darken($dark-blue, 10%);
    margin: 0 0 $s-size 0; //margin-right: $s-size;
}

@media (min-width: $desktop-breakpoint) {
    *{
        color: red;
    }
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }

}